#{extends 'main.html' /}
#{set title:'Menu Principal del Tutorial' /}
<br>
<a href="@{Application.index}">&{'soporte.menu.principal'}</a>
<br>
<h1 align="center">&{'soporte.titulo.tutorial'}</h1>
	<table align="center">
		<tr>
			<td colspan=2 align="center"><b>Usuarios</b><br>&nbsp;</td>
		</tr>
		<tr>
			<td></td><td align="center"><a href="@{Soporte.Tutoriales.usuarios}">&{'titulo.tutorial.usuario'}</a></td>
		</tr>
	</table>
<br>
<br>
<br>
	<table align="center">
		<tr>
			<td colspan=2 align="center"><br>&nbsp;<b>Sistemas</b><br>&nbsp;</td>
		</tr>
		<tr>
			<td></td><td align="center"><a href="@{Soporte.Tutoriales.sistemas}">&{'titulo.tutorial.sistemas'}</a></td>
		</tr>
	</table>
