#{extends 'main.html' /}
#{set title:'Tutorial Para Sistemas' /}
<br>
<a href="@{Soporte.Tutoriales.index}">&{'soporte.asunto.atras'}</a>
<br>
<br>
<br>
<br>
	<p>A continuaci&oacute;n se explica el funcionamiento del Sistema para las opciones que tiene el Personal de Sistemas:</p>
	<p>En el Men&uacute; Principal, seleccione la opci&oacute;n de "Men&uacute; Principal de Sistemas"</p>
		<img src="/public/images/tutoriales/Sistemas/1.png"/>
	<p>La Primer Opci&oacute;n es "Ver Pendientes Creados" y consiste en que el personal de Sistemas pueda ver los asuntos reportados por los Usuarios.</p>
		<img src="/public/images/tutoriales/Sistemas/2.png"/>
	<p>Como vemos, contiene los asuntos creados por el Usuario, pero tiene un enlace en "T&iacute;tulo", damos click.</p>
		<img src="/public/images/tutoriales/Sistemas/3.png"/>
	<p>En esta pantalla, al asunto creado por el Usuario se la asignar&aacute; el Tipo de Problema que se trata (Puede ser de Hardware, Software o el Sistema) y el Nivel de Prioridad para atenderlo (Alto, Medio o Bajo) y despu&eacute;s damos click en Asignar.</p>
		<img src="/public/images/tutoriales/Sistemas/4.png"/>
	<p>Una vez Asignado el Tipo de Problema y Nivel de Prioridad, nos aparece la siguiente Pantalla para confirmar:</p>	
		<img src="/public/images/tutoriales/Sistemas/5.png"/>
	<p>Con esto hemos concluido la primer opci&oacute;n que tiene esta Aplicaci&oacute;n para el personal de Sistemas.</p>
<br>	
	<p>Ahora se explicar&aacute; el funcionamiento de la segunda opci&oacute;n que tiene el Personal de Sistemas que es "Ver Seguimiento".</p>	
		<img src="/public/images/tutoriales/Sistemas/6.png"/>
	<p>Como vemos, contiene los asuntos creados por el Usuario, pero tiene un enlace en "T&iacute;tulo", pero ya tiene el Estatus Activo, puesto que se le asign&oacute; Tipo de Problema y Prioridad con anterioridad. Damos click.</p>
		<img src="/public/images/tutoriales/Sistemas/7.png"/>
	<p>El Men&uacute; despliega los siguientes campos: </p>
	<p>1.- El detalle del reporte creado por el Usuario.</p>
	<p>2.- "Agregar Comentarios", nos permite enviar Comentarios al Usuario para tener comunicaci&oacute;n con &eacute;l y aportando posibles soluciones.</p>
	<p>3.- *** Se trata de un campo opcional llamado "Adjuntar Archivo", donde el Personal de Sistemas puede subir archivos como pueden ser Capturas de pantalla o archivos, para que el Usuario si puede resolver el problema, lo haga.</p>
	<p>4.- "Terminar Operaci&oacute;n", nos permite cerrar el asunto creado por el Usuario, dado que ya existe soluci&oacute;n y agregamos un comentario final.</p>
	<p>5.- En esta parte vemos un historial de los comentarios que han tenido tanto el Usuario como el Personal de Sistemas, respecto al asunto en cuesti&oacute;n.</p>	
		<img src="/public/images/tutoriales/Sistemas/8.png"/>
	<p>Estas son las Opciones que tiene el Personal de Sistemas en esta Aplicaci&oacute;n.</p>
<br>
	<a href="@{Soporte.Tutoriales.index}">&{'soporte.asunto.atras'}</a>
<br>
<br>