#{extends 'main.html' /}
#{set title:'Tutorial Para Usuarios' /}
<br>
<a href="@{Soporte.Tutoriales.index}">&{'soporte.asunto.atras'}</a>
<br>
<br>
<br>
<br>
	<p>A continuaci&oacute;n se explica el funcionamiento del Sistema para las opciones que tiene el Usuario:</p>
	<p>En el Men&uacute; Principal, seleccione la opci&oacute;n de "Men&uacute; Principal de Usuarios."</p>
		<img src="/public/images/tutoriales/Usuarios/1.png"/>
	<p>La Primer Opci&oacute;n es "Crear un Reporte Nuevo" y consiste en que el usuario pueda crear un asunto debido a alg&uacute;n problema en el Sistema o de cualquier situaci&oacute;n que necesite personal de Soporte y Mantenimiento.</p>
		<img src="/public/images/tutoriales/Usuarios/2.png"/>
	<p>El Men&uacute; "Crear Un Reporte Nuevo" despliega los siguientes campos: </p>
	<p>1.- "T&iacute;tulo", que es donde vamos a escribir un nombre al asunto.</p>
	<p>2.- Es "Detalle" y aqu&iacute; se define el problema en espec&iacute;fico que se tiene.</p>
	<p>3.- *** Se trata de un campo opcional llamado "Adjuntar Archivo", donde el Usuario puede subir archivos como pueden ser Capturas de pantalla o documentos, para que el &Aacute;rea de Sistemas pueda entender mejor el problema y resolverlo a la brevedad.</p>
	<p>4.- Es el bot&oacute;n que apretaremos "Grabar" le damos click cuando ha terminado el llenado los campos anteriores.</p>
	<h4>NOTA: Recuerde que como mencionamos el punto 3 es Opcional y no es necesario adjuntar siempre un archivo para poder Grabar el Asunto en cuesti&oacute;n.</h4>
		<img src="/public/images/tutoriales/Usuarios/3.png"/>
	<p>Aqu&iacute; se muestra un ejemplo de como llenar estos campos.</p>
		<img src="/public/images/tutoriales/Usuarios/4.png"/>
	<p>Posteriormente al Grabar el Asunto, se muestra a detalle el Reporte Creado, con su &iacute;tulo, Detalle, Fecha de Creaci&oacute;n y el Estatus de Creado.</p>
		<img src="/public/images/tutoriales/Usuarios/5.png"/>
	<p>Con esto hemos terminado de ver el uso de la opci&oacute;n "Crear un Reporte Nuevo".</p>
<br>
	<p>Ahora se explicar&aacute; el funcionamiento de la segunda opci&oacute;n que tiene el Usuario que es "Ver Mis Reportes".</p>
		<img src="/public/images/tutoriales/Usuarios/6.png"/>
		<p>El Men&uacute; despliega los siguientes campos: </p>
	<p>1.- Contiene los asuntos creados por el Usuario, pero tiene un enlace en "Detalle", el cu&aacute;l explicaremos m&aacute;s adelante.</p>
	<p>2.- "Haz click en el siguiente enlace para descargar el reporte", nos muestra un reporte en formato PDF y a su vez se guarda en la base de datos.</p>
	<p>3.- "Haz click en el siguiente enlace para ver de nuevo el reporte", solo nos muestra en la misma aplicaci&oacute;n el reporte generado con anterioridad.</p>
		<img src="/public/images/tutoriales/Usuarios/7.png"/>
	<p>Desglosando el anterior punto 1, al hacer click veremos como dice el nombre, el detalle de este reporte levantado por el Usuario y la persona de Sistemas y/o Soporte, que le da seguimiento.</p> 
	<p>Tambi&eacute;n es donde el Usuario se puede informar de los avances que tiene la soluci&oacute;n del problema e incluso puede hacer r&eacute;plicas al personal de Sistemas.</p>	
		<img src="/public/images/tutoriales/Usuarios/8.png"/>
	<p>Estas son las Opciones que tiene el Usuario en este Sistema.</p>
<br>
	<a href="@{Soporte.Tutoriales.index}">&{'soporte.asunto.atras'}</a>
<br>
<br>