#{extends 'main.html' /}
#{set title:'Menu Principal' /}
<h1 align="center">&{'soporte.titulo.principal'}</h1>
	<table align="center">
		<tr>
			<td colspan=2 align="center"><b>&{'menu.titulo.usuarios'}</b><br>&nbsp;</td>
		</tr>
		<tr>
			<td></td><td align="center"><a href="@{Soporte.Usuarios.index}">&{'soporte.usuarios.menu'}</a></td>
		</tr>
	</table>
<br>
<br>
<br>
	<table align="center">
		<tr>
			<td colspan=2 align="center"><br>&nbsp;<b>&{'menu.titulo.sistemas'}</b><br>&nbsp;</td>
		</tr>
		<tr>
			<td></td><td align="center"><a href="@{Soporte.Sistemas.index}">&{'soporte.sistemas.menu'}</a></td>
		</tr>
	</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<table align="right">
		<tr>
			<td colspan=2 align="center"><br>&nbsp;<b>&{'menu.tutorial.principal'}</b><br>&nbsp;</td>
		</tr>
		<tr>
			<td></td><td align="center"><a href="@{Soporte.Tutoriales.index}">&{'menu.titulo.tutorial'}</a></td>
		</tr>
	</table>